{% extends "home.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <p class="h3">About the website</p>
            <p>This is a website created by <a style="text-decoration:none;" href="https://www.linkedin.com/in/reetam-chatterjee-227a23190/">Reetam Chatterjee</a>
                This site basically tracks data about 400 billionaires from different countries, gives you the graphical visualization of the important data.
                In future I'll be adding more graphical visualization in this website.
            </p>
        </div>
        <div class="row">
            <p class="h4">API used</p>
            <p>The API used in this website is the <a href="https://forbes400.herokuapp.com/api/forbes400">Forbes400 API</a> which gives data about 400 billionaires.
                Find the documentation <a href="https://forbes400.herokuapp.com/">here</a>.
            </p>
        </div>
    </div>
{% endblock %}